---
---

$header-bg-color: red;

@import "{{ site.theme }}";

.main-content h1 {
    color: purple;
}

b, strong {
    color: red;
}

.main-content video {
    margin-left: 50vw;
    transform: translate(-50%);
    width: 60%;
}